
<div style="width: 66%;float:left">
  <!--<h2 class="govuk-heading-l">Summary</h2>-->


  <!--<p>Key items from the application:</p>-->

  <!--<p style="font-size: 0.9em;"><i>Note: cribbed from p11 UR report "What are COs looking for when skimming
documents?" ...makes sense but naming of items may need checking. I like this as it gets to the point of collecting the docs in the first place, and can pick out missing info directly.</i></p>-->

  

  <form class="form" action="" method="post" >
      <style>
        .sumnumlist {
          display:inline-block;
          width:2em;
          font-weight: 600;
        }
        
      </style>

      {% set tenantType %}
      <div style="width:460px">
      <ul class="govuk-list" style="margin-bottom: 0;">
        <li><span class="sumnumlist">1.1</span> Challenging a rent increase in a section 13 notice</li>
        <li><span class="sumnumlist">1.2</span> Assured tenancy</li>
        <li><span class="sumnumlist">1.3</span> On or after 1 May 2026</li>
        <li><span class="sumnumlist">1.4</span> Not social housing, fee payable</li>
      </ul>
      </div>
      {% endset -%}

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      <h3 class="govuk-heading-m">MR1 application</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "Application type"
            },
            value: {
              html: "<div style=width:500px>Challenging a rent increase in a section 13 notice</div>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Tenant name"
            },
            value: {
              text: globals.case_tenantname3
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Tenant address"
            },
            value: {
              html: globals.case_property3
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Check for duplicates"
                }
              ]
            }
          },
          {
            key: {
              text: "Tenant email"
            },
            value: {
              html: globals.case_tenantemail
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Check for duplicates"
                }
              ]
            }
          },
          {
            key: {
              text: "Inspection requested"
            },
            value: {
              html: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Hearing requested"
            },
            value: {
              html: "Yes<BR>Refer to LO after MR2 returned"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Payment"
            },
            value: {
              html: "Yes<BR>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "View payment"
                }
              ]
            }
          },
          {
            key: {
              text: "Document"
            },
            value: {
              html: "<a href=/public/images/mr1.pdf target_blank>View document (opens in a new tab)</a>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          }
        ]
      }) }}


      <h3 class="govuk-heading-m">Section 13 notice</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "Tenant name"
            },
            value: {
              text: globals.case_tenantname3
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "New rent amount"
            },
            value: {
              text: "£1100 per month"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Date of rent increase"
            },
            value: {
              text: "1 June 2026"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Landlord's name"
            },
            value: {
              text: globals.case_landlordname3
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Landlord's email"
            },
            value: {
              text: globals.case_landlordemail3
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Check for duplicates"
                }
              ]
            }
          },
          {
            key: {
              html: "Date signed by landlord"
            },
            value: {
              html: "1 April 2026<br><strong>Deadline for application expired</strong>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: "Check date"
                }
              ]
            }
          },
          {
            key: {
              text: "Document"
            },
            value: {
              html: "<a href=/public/images/section13.pdf target_blank>View document (opens in a new tab)</a>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          }
        ]
      }) }}

      <h3 class="govuk-heading-m">Tenancy agreement</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "Tenant name"
            },
            value: {
              text: globals.case_tenantname3
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Rent amount"
            },
            value: {
              text: "£950 per month"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Date tenancy started"
            },
            value: {
              text: "1 January 2025"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Document"
            },
            value: {
              html: "<a href=/public/images/tenancy.pdf target_blank>View document (opens in a new tab)</a>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          }
        ]
      }) }}





    
        
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Return to work list",
            classes: "govuk-button--secondary",
            href: ""
          }) }}

       

          {{ govukButton({
            text: "Continue",
            href: "case-response-03-oot-request.html"
          }) }}
        </div>
      </form>






</div>

