
<style>
	.casefilebox {
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 17px;
        line-height: 1.5;
		background-color: #faf6f7; //slightlypink
		border: solid 4px #c8c8c8;
	}
	.casefiletopbar {
		border-top: solid 4px #c8c8c8;
		border-bottom: solid 4px #c8c8c8;
		background-image: url('public/images/open-folder.png');
		background-size: 30px 30px;
		background-repeat: no-repeat;
		background-position: 200px 16px;
	}
	.casefileindex {
		width:280px;
		float: left;
	}
	ul.casefile-folders {
	padding-left: 10px;
		li {
		list-style: none;
		height: 38px;
		background-image: url('public/images/folder.png');
		background-size: 26px 26px;
		background-repeat: no-repeat;
		background-position: 0px 1px;
		}
	}
	.casefilenum {
		display: inline-block;
		color: white;
		width:28px;
		font-size: 15px;
		font-weight: 600;
		margin-right: 8px;
		
		text-align: center;
	}

	ul.casefile-files {
	padding-left: 10px;
		li {
		list-style: none;
		height: 38px;
		background-image: url('public/images/file.png');
		background-size: 26px 26px;
		background-repeat: no-repeat;
		background-position: 0px 1px;
		padding-left: 34px;
		}
	}
	.filespace {
		float:right;
		background-color: grey;
		width: 75%;
	}

</style>

<div class="casefilebox">

	<div class="casefileindex">
		<div class="govuk-form-group">
		  <label class="govuk-label" for="authentication-code">
		    File search
		  </label>
		  
		  <input class="govuk-input govuk-input--width-16 govuk-input--extra-letter-spacing" id="authentication-code" name="authenticationCode" type="text" spellcheck="false" value="name or content" aria-describedby="authentication-code-hint">
		</div>

		<div class="casefiletopbar">
			<div style="display:inline-block;width:216px;padding-left:10px">Documents (20)</div>
			<div style="font-size: 2em;display:inline-block;width:30px">
			&UpArrowDownArrow;</div>
		</div>
		

		<ul class="casefile-folders">
			<li onclick="showhide()"><span class="casefilenum">3</span>Application</li>

			<div id="filelist" style="display:none">
			  <ul class="casefile-files">
			  	<li onclick="showhideMR1()">MR1-application.pdf</li>
			  	<li>section-13.pdf</li>
			  	<li>tenancy-agreement.pdf</li>
			  </ul>
			</div>

			<li><span class="casefilenum">2</span>Acknowledgement</li>

			<li><span class="casefilenum">1</span>Information requests</li>

			<li><span class="casefilenum">3</span>Messages</li>

			<li><span class="casefilenum">9</span>Photos</li>

			<li><span class="casefilenum">1</span>Other</li>

		</ul>

		

		

		<script>
		function showhide() {
		  var x = document.getElementById("filelist");
		  if (x.style.display === "none") {
		    x.style.display = "block";
		  } else {
		    x.style.display = "none";
		  }
		}

		function showhideMR1() {
		  var x = document.getElementById("filemr1");
		  if (x.style.display === "none") {
		    x.style.display = "block";
		  } else {
		    x.style.display = "none";
		  }
		}
		</script>


	</div>


	<div class="filespace">
		
		<div id="filemr1" style="display:none;text-align: center;">
			<img src="public/images/big-mr1.png" width="80%">
		</div>

	</div>

	<br clear="all">

</div>
