
<div style="width: 58%;float:left">
  <h2 class="govuk-heading-l">History</h2>


  <table class="govuk-table">
    <!--<caption class="govuk-table__caption govuk-table__caption--m">Events</caption>-->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Event</th>
        <th scope="col" class="govuk-table__header">Date</th>
        <th scope="col" class="govuk-table__header" style="width:130px">Author</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row exui-event exui-event-current">
        <td scope="row" class="govuk-table__cell"><a href="case-history-01-event-02">Task created: ‘Vet case 1234 5678 9256 1345’</a></td>
        <td class="govuk-table__cell">4 May 2026,<br>1:13am</td>
        <td class="govuk-table__cell">RPT CO - HD</td>
      </tr>
     
     <tr class="govuk-table__row exui-event">
        <td scope="row" class="govuk-table__cell"><a href="case-history-01-event-01">State updated to ‘Awaiting vetting’</a></td>
        <td class="govuk-table__cell">4 May 2026,<br>10:11am</td>
        <td class="govuk-table__cell">RPT CO - HD</td>
      </tr>

       <tr class="govuk-table__row exui-event">
        <td scope="row" class="govuk-table__cell"><a href="case-history-01-event-01">Case allocated to case officer Hugh Davis</a></td>
        <td class="govuk-table__cell">1 May 2026,<br>1:18PM</td>
        <td class="govuk-table__cell">RPT CO - HD</td>
      </tr>

       <tr class="govuk-table__row exui-event">
        <td scope="row" class="govuk-table__cell"><a href="case-history-01-event-01">State updated to ‘Awaiting allocation’</a></td>
        <td class="govuk-table__cell">1 May 2026,<br>1:17pm</td>
        <td class="govuk-table__cell">RPT CO</td>
      </tr>

      <tr class="govuk-table__row exui-event">
        <td scope="row" class="govuk-table__cell"><a href="case-history-01-event-01">Case number assigned: 1234 5678 9256 1345</a></td>
        <td class="govuk-table__cell">1 May 2026,<br>1:14pm</td>
        <td class="govuk-table__cell">RPT CO</td>
      </tr>


      <tr class="govuk-table__row exui-event">
        <td scope="row" class="govuk-table__cell"><a href="case-history-01-event-01">MR1 application received</a></td>
        <td class="govuk-table__cell">23 Jan 2025,<br>1:12pm</td>
        <td class="govuk-table__cell">RPT CO</td>
      </tr>


    </tbody>
  </table>

</div>

<!--
4 May 2026  Task created: ‘Vet case 1234 5678 9256 1345’
4 May 2026  State updated to ‘Awaiting vetting’
1 May 2026  Case allocated to case officer Hugh Davis
1 May 2026  State updated to ‘Awaiting allocation’
1 May 2026  Case number assigned: 1234 5678 9256 1345
1 May 2026  MR1 application received


-->


<div class="exui-tabpanel-right" style="width: 38%;float:right;padding:1em 0.5em 1em 1em">
   <h2 class="govuk-heading-l ">Event details</h2>

   <div >

   {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Event"
      },
      value: {
        html: "<strong>Task created:<br>Vet case 1234 5678 9256 1345</strong>"
      }
    },
    {
      key: {
        text: "Date"
      },
      value: {
        text: "4 May 2026, 1:13pm"
      }
    },
    {
      key: {
        text: "Author"
      },
      value: {
        text: "RPT CO - Hugh Davis"
      }
    },
    {
      key: {
        text: "End state"
      },
      value: {
        text: "Case management"
      }
    },
    {
      key: {
        text: "Summary"
      },
      value: {
        text: "-"
      }
    },
    {
      key: {
        text: "Comment"
      },
      value: {
        text: "-"
      }
    }
    
  ]
}) }}
</div>

</div>

<br clear="all">