
<div style="width: 58%">
  <!--<h2 class="govuk-heading-l">Summary</h2>-->


  <p>Key items from the application:</p>

  <!--<p style="font-size: 0.9em;"><i>Note: cribbed from p11 UR report "What are COs looking for when skimming
documents?" ...makes sense but naming of items may need checking. I like this as it gets to the point of collecting the docs in the first place, and can pick out missing info directly.</i></p>-->

  <ul class="govuk-list govuk-list--bullet">

      <li>Section 1.1 - type of appeal</li>
      <li>Name of parties</li>
      <li>Address</li>
      <li>Request for hearing or inspection</li>
      <li>Name of parties</li>
      <li>Verification that details on section 13 match MR1</li>
      <li>New rental amount</li>
      <li>Start of rental increase</li>
      <li>Date signed by landlord</li>
      <li>Name of tenant(s)</li>
      <li>Date tenancy started</li>
      <li>Rent amount</li>

  </ul>






</div>

<br clear="all">