
<div style="width: 90%;float:left">
  <!--<h2 class="govuk-heading-l">Summary</h2>-->


  <!--<p>Key items from the application:</p>-->

  <!--<p style="font-size: 0.9em;"><i>Note: cribbed from p11 UR report "What are COs looking for when skimming
documents?" ...makes sense but naming of items may need checking. I like this as it gets to the point of collecting the docs in the first place, and can pick out missing info directly.</i></p>-->

  

  <form class="form" action="" method="post" >
      <style>
        .sumnumlist {
          display:inline-block;
          width:2em;
          font-weight: 600;
        }
        
      </style>

      {% set tenantType %}
      <div style="width:490px">
      <ul class="govuk-list" style="margin-bottom: 0;">
        <li><span class="sumnumlist">1.1</span> Challenging a rent increase in a section 13 notice</li>
        <li><span class="sumnumlist">1.2</span> Assured tenancy</li>
        <li><span class="sumnumlist">1.3</span> On or after 1 May 2026</li>
        <li><span class="sumnumlist">1.4</span> Not social housing, fee payable</li>
      </ul>
      </div>
      {% endset -%}

      {% set yellownew %}<strong class="govuk-tag govuk-tag--yellow">New to review</strong>
      {% endset -%}


      {% set management %}
        
        <ul class="task-list-row">
          <li><A href="#">Cancel task</A></li>
          <li><A href="#">Mark as done</A></li>
          <li><A href="#">Reassign task</A></li>
          <li style="margin-right:0"><A href="#">Unassign task</A></li>
        </ul>

      {% endset -%}




      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      


      <h3 class="govuk-heading-m">Active tasks</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "Review case"
            },
            value: {
              html: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              html: yellownew
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Due date"
            },
            value: {
              html: globals.case_tenantinfoduedate
            },
            actions: {
              items: [
                {
                  href: "",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Manage"
            },
            value: {
              html: management

            },
            actions: {
              items: [
                {
                  href: "",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Next task"
            },
            value: {
              html: "<a href=case-review-01.html>Review case</a>"
            }
          }
        ]
      }) }}

          

      






    
        
        
        <!--<div class="govuk-button-group">
          {{ govukButton({
            text: "Return to work list",
            classes: "govuk-button--secondary",
            href: ""
          }) }}

       

          {{ govukButton({
            text: "Continue",
            href: "case-response-01-ack-request.html"
          }) }}
        </div>-->
      </form>






</div>

