
<div style="width: 66%">
 
      <br clear="all">


      {% set feesBody %}
        <p>
          <strong>MR1 application fee</strong><br>
          <span style="width:10em;display: inline-block;"></span> £47.44
        </p>

        <p>
          <strong>Help with fees (ref. XYZ123) </strong><br>
          <span style="width:10em;display: inline-block;"></span>-£47.44
        </p>

        <p>
          <strong>Total due</strong><br>
          <span style="width:10em;display: inline-block;"></span> £0.00
        </p>

      {% endset -%}

      {% set recipients %}

          <p>
          <strong>Recipient:</strong> <br>HMCTS Central Payments
        </p>

        <p>
          <strong>Payment method:</strong><br>
          Visa Debit ending 1211
        </p>

        <p>
          <strong>Payee name:</strong><br>
          Herbie Hall
        </p>

        <p>
          <strong>Payee postcode:</strong><br> 
          LU1 1AB 
        </p>
       
      {% endset -%}

      {% set paymentDates %}

        <p>
          18 May 2026, 11:02am<br>Card ending 2832: <strong>Failure</strong>
        </p>

        <p>
          18 May 2026, 11:05am<br>Card ending 1211: <strong>Success</strong>
        </p>
       

      {% endset -%}
        


      <form class="form" action="" method="post" >

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Received"
            },
            value: {
              html: "Yes - receipts sent 18 May 2026, 11:06am<br><br><strong>By email:</strong> h.hall@milestones.bop<br><strong>By SMS:</strong> 07718 765 432"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "",
                  visuallyHiddenText: "request-items"
                }
              ]
            }
          },
          {
            key: {
              text: "Fees"
            },
            value: {
              html: feesBody
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: "",
                  visuallyHiddenText: "request-items"
                }
              ]
            }
          },
          {
            key: {
              text: "Payment attempts"
            },
            value: {
              html: paymentDates
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: "",
                  visuallyHiddenText: "request-items"
                }
              ]
            }
          },
          {
            key: {
              text: "Recipient and method"
            },
            value: {
              html: recipients
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}




    
        
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Receipt as PDF",
            classes: "govuk-button--secondary",
            href: ""
          }) }}

         
          
        </div>
      </form>




         



</div>

<br clear="all">