{% include "includes/case-summary-01.njk" %}


<div class="exui-tabpanel-right" style="width: 31%;float:right;padding:1em 0.5em 1em 1em">
   <h2 class="govuk-heading-m ">Duplicate found for "h.hall@milestones.bop"</h2>

   <p>1 other match in active cases</p>

   <div >

   {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Match"
      },
      value: {
        html: "h.hall@milestones.bop"
      }
    },
    {
      key: {
        text: "Case number"
      },
      value: {
        html: "<a href=#>2341 2315 3423 6950</a>"
      }
    },
      {
        key: {
          text: "Tenant address"
        },
        value: {
          html: "15 Garden Drive<br>Luton<br>Bedfordshire<br>LU1 1AB"
        }
      },
    {
      key: {
        text: "Date received"
      },
      value: {
        text: "6 June 2026, 11:20am"
      }
    },
    {
      key: {
        text: "Tenant name"
      },
      value: {
        text: "Herbie Hall"
      }
    },
    {
      key: {
        text: "Current status"
      },
      value: {
        html: "Waiting for MR3<br>Due 09 June 2026"
      }
    }
    
  ]
}) }}
</div>

<p><a href="dupe-refer-01">Refer duplicate to LO</a></p>

</div>

<br clear="all">