
<div style="width: 58%">
  <h2 class="govuk-heading-l">Preview acknowledgments</h2>


  <p>2 items</p>

  <!--<p style="font-size: 0.9em;"><i>Note: cribbed from p11 UR report "What are COs looking for when skimming
documents?" ...makes sense but naming of items may need checking. I like this as it gets to the point of collecting the docs in the first place, and can pick out missing info directly.</i></p>-->

  <!--<ul class="govuk-list govuk-list--bullet">

      <li>Section 1.1 - type of appeal</li>
      <li>Name of parties</li>
      <li>Address</li>
      <li>Request for hearing or inspection</li>
      <li>Name of parties</li>
      <li>Verification that details on section 13 match MR1</li>
      <li>New rental amount</li>
      <li>Start of rental increase</li>
      <li>Date signed by landlord</li>
      <li>Name of tenant(s)</li>
      <li>Date tenancy started</li>
      <li>Rent amount</li>

  </ul>-->

  <form class="form" action="" method="post" >


      {% set previewTenantMessage %}
        <p>Standard header</p>
        <p>Dear Herbie Hall,</p>
        <p>Your application for a market rent determination has been received, and the fee has been paid.</p>
        <p>Your landlord or their representative has been notified and they have 28 days to respond with any information they wish to provide.</p>
        <p>You will receive further notification of actions to take after that time.</p>
        <p>Yours sincerely,<p>
        <p>[caseworker name?]<br>on behalf of the First-tier Tribunal (Property Chamber)</p>
        <p>Standard footer</p>

      {% endset -%}


      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      <h3 class="govuk-heading-m"></h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "Send to"
            },
            value: {
              text: "Tenant"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Tenant name"
            },
            value: {
              text: "Herbie Hall"
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Send using"
            },
            value: {
              html: "Email: h.hall@milestones.bop"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Check for duplicates"
                }
              ]
            }
          },
          {
            key: {
              text: "Message text"
            },
            value: {
              html: previewTenantMessage
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Inspection requested"
            },
            value: {
              html: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Hearing requested"
            },
            value: {
              html: "Yes<BR>Refer to LO after MR2 returned"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Issues"
            },
            value: {
              html: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          }
        ]
      }) }}


      <h3 class="govuk-heading-m">Section 13</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "Tenant name"
            },
            value: {
              text: "Herbie Hall"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "New rent amount"
            },
            value: {
              text: "£1100 monthly"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Date of rent increase"
            },
            value: {
              text: "01 July 2026"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Date signed by landlord"
            },
            value: {
              text: "01 June 2026"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Issues"
            },
            value: {
              html: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: ""
                }
              ]
            }
          }
        ]
      }) }}

      <h3 class="govuk-heading-m">Tenancy agreement</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "Tenant name"
            },
            value: {
              text: "Herbie Hall"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Rent amount"
            },
            value: {
              text: "£950 monthly"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Date tenancy started"
            },
            value: {
              text: "01 January 2025"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Document"
            },
            value: {
              html: "Check file"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Open file in new window"
                }
              ]
            }
          }
        ]
      }) }}





    
        
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Return to work list",
            classes: "govuk-button--secondary",
            href: ""
          }) }}

       

          {{ govukButton({
            text: "Continue",
            href: "happy-acks"
          }) }}
        </div>
      </form>






</div>

<br clear="all">