<div style="max-width: 880px;">


{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


<table class="govuk-table">
    <!--<caption class="govuk-table__caption govuk-table__caption--m">Events</caption>-->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Capacity</th>
        <th scope="col" class="govuk-table__header">Email</th>
        <th scope="col" class="govuk-table__header">Phone</th>
        <th scope="col" class="govuk-table__header">Address</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">Herbie Hall</td>
        <td class="govuk-table__cell">Applicant</td>
        <td class="govuk-table__cell"><a href="mailto:#">h.hall@milestones.bop</a></td>
        <td class="govuk-table__cell"><a href="tel:#">03333&nbsp;373&nbsp;323</a></td>
        <td class="govuk-table__cell">
        15 Garden Drive<br>
        Luton<br>
        Bedfordshire <br>
        LU1 1AB 
        </td>
      </tr>
     
     <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">Ron Ayler</td>
        <td class="govuk-table__cell">Respondent</td>
        <td class="govuk-table__cell"><a href="mailto:#">ayl.caesar@marble.surf</a></td>
        <td class="govuk-table__cell"><a href="tel:#">07676&nbsp;626&nbsp;627</a></td>
        <td class="govuk-table__cell">
        17 Wagstaff Way<br>
        Luton<br>
        Bedfordshire<br>
        LL8 4RA
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">Silver Service Solicitors LTD</td>
        <td class="govuk-table__cell">Respondent’s representative</td>
        <td class="govuk-table__cell"><a href="mailto:#">hello@sss-ltd.law</a></td>
        <td class="govuk-table__cell"><a href="tel:#">07777&nbsp;727&nbsp;747</a></td>
        <td class="govuk-table__cell">
        Tolex&nbsp;Business&nbsp;Park<br>
        Goldie Ave.<br>
        Luton<br>
        Bedfordshire<br>
        LB3 7JK
        </td>
      </tr>

    </tbody>
  </table>

</div>

