
<div style="width: 66%">
  <!--<h2 class="govuk-heading-l">Summary</h2>-->

  <!--<p style="font-size: 0.9em;"><i>Note: cribbed from p11 UR report "What are COs looking for when skimming
documents?" ...makes sense but naming of items may need checking. I like this as it gets to the point of collecting the docs in the first place, and can pick out missing info directly.</i></p>-->

  <!--<ul class="govuk-list govuk-list--bullet">

      <li>Section 1.1 - type of appeal</li>
      <li>Name of parties</li>
      <li>Address</li>
      <li>Request for hearing or inspection</li>
      <li>Name of parties</li>
      <li>Verification that details on section 13 match MR1</li>
      <li>New rental amount</li>
      <li>Start of rental increase</li>
      <li>Date signed by landlord</li>
      <li>Name of tenant(s)</li>
      <li>Date tenancy started</li>
      <li>Rent amount</li>

  </ul>-->

  <form class="form" action="" method="post" >

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      <h3 class="govuk-heading-m">MR1 application</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "Type of application"
            },
            value: {
              text: "Sole tenant"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Tenant name"
            },
            value: {
              text: "Herbie Hall"
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Property address"
            },
            value: {
              html: globals.case_property4
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Check for duplicates"
                }
              ]
            }
          },
          {
            key: {
              text: "Tenant email"
            },
            value: {
              html: "h.hall@milestones.bop"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Check for duplicates"
                }
              ]
            }
          },
          {
            key: {
              text: "Inspection requested"
            },
            value: {
              html: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Hearing requested"
            },
            value: {
              html: "Yes<BR>Refer to LO after MR2 returned"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Document"
            },
            value: {
              html: "<a href=/public/images/mr1.pdf target=_blank>View document (opens in a new tab)</a>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          }
        ]
      }) }}


      <h3 class="govuk-heading-m">Section 13 notice</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "Tenant name"
            },
            value: {
              text: "Herbie Hall"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "New rent amount"
            },
            value: {
              text: "£1100 per month"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Date of rent increase"
            },
            value: {
              text: "1 July 2026"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Date signed by landlord"
            },
            value: {
              text: "1 June 2026"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Issues"
            },
            value: {
              html: "<strong>Two months notice not given</strong><br>CO to check documents"
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: "Refer to LO<br>invalid Section 13"
                }
              ]
            }
          },
          {
            key: {
              text: "Document"
            },
            value: {
              html: "<a href=/public/images/section13.pdf target=_blank>View document (opens in a new tab)</a>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          }
        ]
      }) }}

      <h3 class="govuk-heading-m">Tenancy agreement</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "Tenant name"
            },
            value: {
              text: "Herbert Hall"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Rent amount"
            },
            value: {
              text: "£950 per month"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Date tenancy started"
            },
            value: {
              text: "1 January 2025"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Document"
            },
            value: {
              html: "<a href=/public/images/tenancy.pdf target=_blank>View document (opens in a new tab)</a>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          }
        ]
      }) }}





    
        
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Return to work list",
            classes: "govuk-button--secondary",
            href: ""
          }) }}

       

          {{ govukButton({
            text: "Continue",
            href: "case-response-04-non-payment.html"
          }) }}
        </div>
      </form>






</div>

<br clear="all">