
<div style="width: 66%;float:left">
  <!--<h2 class="govuk-heading-l">Summary</h2>-->


  <p>Key items from the application:</p>

  <!--<p style="font-size: 0.9em;"><i>Note: cribbed from p11 UR report "What are COs looking for when skimming
documents?" ...makes sense but naming of items may need checking. I like this as it gets to the point of collecting the docs in the first place, and can pick out missing info directly.</i></p>-->

  <!--<ul class="govuk-list govuk-list--bullet">

      <li>Section 1.1 - type of appeal</li>
      <li>Name of parties</li>
      <li>Address</li>
      <li>Request for hearing or inspection</li>
      <li>Name of parties</li>
      <li>Verification that details on section 13 match MR1</li>
      <li>New rental amount</li>
      <li>Start of rental increase</li>
      <li>Date signed by landlord</li>
      <li>Name of tenant(s)</li>
      <li>Date tenancy started</li>
      <li>Rent amount</li>

  </ul>-->

  <form class="form" action="" method="post" >
      <style>
        .sumnumlist {
          display:inline-block;
          width:2em;
          font-weight: 600;
        }
        
      </style>

      {% set tenantType %}
      <div style="width:500px">
      <ul class="govuk-list" style="margin-bottom: 0;">
        <li><span class="sumnumlist">1.1</span> Challenging a rent increase in a section 13 notice</li>
        <li><span class="sumnumlist">1.2</span> Assured tenancy</li>
        <li><span class="sumnumlist">1.3</span> On or after 1 May 2026</li>
        <li><span class="sumnumlist">1.4</span> Not social housing, fee payable</li>
      </ul>
      </div>
      {% endset -%}

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      <h3 class="govuk-heading-m">MR1</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "Application type"
            },
            value: {
              html: "<div style=width:500px>Challenging a rent increase in a section 13 notice</div>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Tenant name"
            },
            value: {
              text: "Herbie Hall"
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Tenant address"
            },
            value: {
              html: "15 Garden Drive<br>Luton<br>Bedfordshire<br>LU1 1AB"
            },
            actions: {
              items: [
                {
                  href: "case-dashboard-01-01.html",
                  text: "Check for duplicates"
                }
              ]
            }
          },
          {
            key: {
              text: "Tenant email"
            },
            value: {
              html: "h.hall@milestones.bop"
            },
            actions: {
              items: [
                {
                  href: "case-dashboard-01-02.html",
                  text: "Check for duplicates"
                }
              ]
            }
          },
          {
            key: {
              text: "Inspection requested"
            },
            value: {
              html: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Hearing requested"
            },
            value: {
              html: "Yes<BR>Refer to LO after MR2 returned"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Document"
            },
            value: {
              html: "<a href=mr1.pdf>View document (opens in a new tab)</a>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          }
        ]
      }) }}


      <h3 class="govuk-heading-m">Section 13</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "Tenant name"
            },
            value: {
              text: "Herbie Hall"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "New rent amount"
            },
            value: {
              text: "£1100 per month"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Date of rent increase"
            },
            value: {
              text: "1 July 2026"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Date signed by landlord"
            },
            value: {
              text: "1 June 2026"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Document"
            },
            value: {
              html: "<a href=section13.pdf>View document (opens in a new tab)</a>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          }
        ]
      }) }}

      <h3 class="govuk-heading-m">Tenancy agreement</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "Tenant name"
            },
            value: {
              text: "Herbie Hall"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Rent amount"
            },
            value: {
              text: "£950 per month"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Date tenancy started"
            },
            value: {
              text: "1 January 2025"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Document"
            },
            value: {
              html: "<a href=tenancy.pdf>View document (opens in a new tab)</a>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          }
        ]
      }) }}





    
        
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Return to work list",
            classes: "govuk-button--secondary",
            href: ""
          }) }}

       

          {{ govukButton({
            text: "Continue",
            href: "case-response-01-ack-request.html"
          }) }}
        </div>
      </form>

      </div>


<div class="exui-tabpanel-right" style="width: 31%;float:right;padding:1em 0.5em 1em 1em">
   <h2 class="govuk-heading-m ">Duplicate found for "h.hall@milestones.bop"</h2>

   <p>1 other match in active cases</p>

   <div >

   {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Match"
      },
      value: {
        html: "h.hall@milestones.bop"
      }
    },
    {
      key: {
        text: "Case number"
      },
      value: {
        html: "<a href=#>2341 2315 3423 6950</a>"
      }
    },
      {
        key: {
          text: "Tenant address"
        },
        value: {
          html: "15 Garden Drive<br>Luton<br>Bedfordshire<br>LU1 1AB"
        }
      },
    {
      key: {
        text: "Date received"
      },
      value: {
        text: "6 June 2026, 11:20am"
      }
    },
    {
      key: {
        text: "Tenant name"
      },
      value: {
        text: "Herbie Hall"
      }
    },
    {
      key: {
        text: "Current status"
      },
      value: {
        html: "Waiting for MR3<br>Due 09 June 2026"
      }
    }
    
  ]
}) }}
</div>

<p><a href="#">Refer duplicate to LO</a></p>

</div>

<br clear="all">