
<style>
	.casefilebox {
		background-color: #faf6f7; //slightlypink
		border: solid 3px #c8c8c8;
	}
</style>

<div class="casefilebox">

	<div class="casefileindex">
		<p>
			[ searchbox ]
		</p>

		<div class="casefiletopbar">Documents (n) - - - - - <span style="font-size: 2em">&UpArrowDownArrow;</span></div>
		

		<ul>
			<li>Application</li>

			<li>Acknowledgement</li>

			<li>Information requests</li>

			<li>Messages</li>

			<li>Photos</li>

			<li>Other</li>

		</ul>


</div>