<label class="govuk-label" for="sort" style="float:left">
  <span style="position:relative;top:7px;margin-right: 12px;">Next action
</label>

<div style="float:left">
  <select class="govuk-select" id="sort" name="sort">
    <option value="choose" selected>Select action</option>
    <option value="dupe-postcode">Check for duplicates</option>
    <option value="dupe-refer">Duplicates - refer to LO</option>
    <option value="acks">Review case - send acknowledgements</option>
    <option value="req">Review case - request for information</option>
    <option value="payment">Fees - request for information</option>
    <option value="payment">General - refer to LO</option>
  </select>
</div>