
<div class="govuk-tabs" data-module="govuk-tabs" style="width:1300px;overflow: visible;">
  <!--<h2 class="govuk-tabs__title">
    Contents -- is this just for screen readers?
  </h2>-->

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#History">
        History
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#Summary">
        Summary
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#State">
        State
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#Details">
        Case details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#Parties">
        Case parties
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#Orders">
        Orders & decisions
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#Docs">
        Case docs
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#Bundles">
        Bundles
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#Hearings">
        Hearings & inspections
      </a>
    </li>
    <!--<li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#More">
        One more
      </a>
    </li>-->
  </ul>






  <div class="govuk-tabs__panel exui-tabpanel" id="History">
    <section>
    

      {% include "includes/case-history-01.njk" %}

    </section>
  </div>




  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Summary">
    <section>
      <h2 class="govuk-heading-l">Summary</h2>
    </section>
  </div>




  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="State">
    <section>
      <h2 class="govuk-heading-l">State</h2>
    </section>
  </div>




  <div class="govuk-tabs__panel govuk-tabs__panel--hidden exui-tabpanel" id="Details">
    <section>
      <h2 class="govuk-heading-l">Case details</h2>

      {% include "includes/case-details-01.njk" %}
         

    </section>
  </div>




<div class="govuk-tabs__panel govuk-tabs__panel--hidden exui-tabpanel" id="Parties">
    <section>
      <h2 class="govuk-heading-l">Case parties</h2>

      {% include "includes/case-parties-01.njk" %}
         

    </section>
  </div>




  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Orders">
    <section>
      <h2 class="govuk-heading-l">Orders & decisions</h2>
    </section>
  </div>




  <div class="govuk-tabs__panel govuk-tabs__panel--hidden exui-tabpanel" id="Docs">
    <section>
      <h2 class="govuk-heading-l">Case documents</h2>

      {% include "includes/case-docs-01.njk" %}


    </section>
  </div>




  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Bundles">
    <section>
      <h2 class="govuk-heading-l">Bundles</h2>
    </section>
  </div>




  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Hearings">
    <section>
      <h2 class="govuk-heading-l">Hearings</h2>
    </section>
  </div>




  <!--<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="More">
    <section>
      <h2 class="govuk-heading-l">One more</h2>
    </section>
  </div>-->

</div><!-- end GOV TABS -->
  


</div>
</nav>
</div>