
<div style="width: 66%;float:left">
  <!--<h2 class="govuk-heading-l">Summary</h2>-->


  <!--<p>Key items from the application:</p>-->

  <!--<p style="font-size: 0.9em;"><i>Note: cribbed from p11 UR report "What are COs looking for when skimming
documents?" ...makes sense but naming of items may need checking. I like this as it gets to the point of collecting the docs in the first place, and can pick out missing info directly.</i></p>-->

  

  <form class="form" action="" method="post" >
      <style>
        .sumnumlist {
          display:inline-block;
          width:2em;
          font-weight: 600;
        }
        
      </style>

      {% set tenantType %}
      <div style="width:500px">
      <ul class="govuk-list" style="margin-bottom: 0;">
        <li><span class="sumnumlist">1.1</span> Challenging a rent increase in a section 13 notice</li>
        <li><span class="sumnumlist">1.2</span> Assured tenancy</li>
        <li><span class="sumnumlist">1.3</span> On or after 1 May 2026</li>
        <li><span class="sumnumlist">1.4</span> Not social housing, fee payable</li>
      </ul>
      </div>
      {% endset -%}

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      <!--<h3 class="govuk-heading-m">MR1 application</h3>-->

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Date received"
            },
            value: {
              html: "28 May 2026"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Type of application"
            },
            value: {
              html: "<div style=width:500px>Challenging a rent increase in a section 13 notice</div>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Tenant name"
            },
            value: {
              text: globals.case_tenantname2
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Property address"
            },
            value: {
              html: globals.case_property2
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Tenant email"
            },
            value: {
              html: globals.case_tenantemail2
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Inspection requested"
            },
            value: {
              html: "Yes<BR>Refer to LO after MR2 returned"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Hearing requested"
            },
            value: {
              html: "Yes<BR>Refer to LO after MR2 returned"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Payment"
            },
            value: {
              html: "Not paid"
            },
            actions: {
              items: [
                {
                  href: "case-payment-02.html",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Document"
            },
            value: {
              html: "<a href=/public/images/mr1.pdf target=_blank>View document (opens in a new tab)</a>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          }
        ]
      }) }}





    
        
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Return to case",
            classes: "govuk-button--secondary",
            href: ""
          }) }}

       

          {{ govukButton({
            text: "Continue",
            href: "case-review-02-s13"
          }) }}
        </div>
      </form>






</div>

