{% set case_officer = "Rosie Testerino" %}

{% set case_number = "5678 9123 4567 1241" %}
{% set case_property = "15 Garden Drive, Luton, Bedfordshire LU1 1AB" %}

{% set case_tenantname = "Herbie Hall" %}
{% set case_tenantemail = "h.hall@milestones.bop" %}
{% set case_tenantphone = "07723 373 323" %}

{% set case_landlordname = "Ron Ayler" %}
{% set case_landlordemail = "ayl.caesar@marble.surf" %}
{% set case_landlordphone = "07766 626 627" %}




{% set case_number2 = "7392 8735 9112 0921" %}
{% set case_property2 = "67 Newington Causeway, London SE1 6LS" %}

{% set case_tenantname2 = "Herbie Hall" %}
{% set case_tenantemail2 = "h.hall@milestones.bop" %}
{% set case_tenantphone2 = "07723 373 323" %}

{% set case_landlordname2 = "Ron Ayler" %}
{% set case_landlordemail2 = "ayl.caesar@marble.surf" %}
{% set case_landlordphone2 = "07766 626 627" %}




{% set case_number3 = "4567 5678 9123 1234" %}
{% set case_property3 = "Flat A, 308 Kensal Road, London W10 5BE" %}

{% set case_tenantname3 = "Herbie Hall" %}
{% set case_tenantemail3 = "h.hall@milestones.bop" %}
{% set case_tenantphone3 = "07723 373 323" %}

{% set case_landlordname3 = "Ron Ayler" %}
{% set case_landlordemail3 = "ayl.caesar@marble.surf" %}
{% set case_landlordphone3 = "07766 626 627" %}




{% set case_number4 = "9123 4567 1234 5678" %}
{% set case_property4 = "26 Lisson Grove, Marylebone, London NW1 6TZ" %}

{% set case_tenantname4 = "Herbie Hall" %}
{% set case_tenantemail4 = "h.hall@milestones.bop" %}
{% set case_tenantphone4 = "07723 373 323" %}

{% set case_landlordname4 = "Ron Ayler" %}
{% set case_landlordemail4 = "ayl.caesar@marble.surf" %}
{% set case_landlordphone4 = "07766 626 627" %}


