{% set section = 'work' %}

{% extends "layout.html" %}
{% import '_globals.html' as globals %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div id="case-id" style="float:left;width: 700px;">
        <h1 class="govuk-heading-xl" style="margin: -0.76em 0 0.5em 0;">
          Edit tenant message
          <!--<span class="govuk-caption-xl">Manual entry if scanning or digital not available</span>-->
        </h1>


          <!--<h2 class="govuk-heading-m" style="margin-bottom: 0.25em;">Summary:</h2>

          <p>No issues</p>-->
      
      </div>
      
     

      <div id="next-stepper" style="float:right;">
       
         

         

      <br clear="all">

 
        
      </div>

      <br clear="all">

      <style>
      .previewtopbar {
        display: inline-block;padding-left:1.3em;
        
        
      }
      #email-preview {
        border:8px solid #ddd;
        border-radius: 10px;
        width: 800px;
        margin-bottom:1em
      }
      #message-body {
        padding-left: 30px;
        padding-right: 20px;
      }
      #govlogo {
        scale: 0.88;
        position: relative;
        left:-20px;
      }
      </style>

      
      <div id="email-edit" style="max-width:660px">

{% set defaultMessage %}
Dear {{ globals.case_landlordname }},

We have received an application from your tenant requesting a market rent determination for the address above.

A copy of their application is included with this message.
What you need to do

You have 28 days from the date of this message to respond to this application. You can respond online or by completing the MR2 reply form included with this message.

You must send your response to your tenant as well as to the Tribunal.

You do not have to respond, but if you do not, the Tribunal will make its decision based only on your tenant's application.
What happens next

  1. If you choose to respond, your tenant will have 14 days to respond online or using the MR3 tenant reply form.

  2. The Tribunal will make its decision based on the tenant's application and any responses received.

  3. When the Tribunal has made its decision, we will let you know by email and post.

If we need anything else from you, we will contact you.

Yours sincerely,

{{ globals.case_officer }}
{% endset -%}

         

<div class="govuk-form-group">
  <!--<h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Edit this message
    </label>
  </h1>-->
  <div id="more-detail-hint" class="govuk-hint">
    Make changes to this standard tenant application acknowledgment only if neccessary. No formatting is possible.
  </div>
  <!--<p id="more-detail-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Enter more detail
  </p>-->
  <textarea class="govuk-textarea " id="more-detail" name="moreDetail" rows="12" aria-describedby="more-detail-hint ">
    {{ defaultMessage }}
  </textarea>
</div>
          
            
        

      </div>



        <div class="govuk-button-group">
          
          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary",
            href: "case-review-01-summary"
          }) }}

          {{ govukButton({
            text: "Save changes",
            href: "case-review-01-summary"
          }) }}
        </div>
      </form>




         

    </div>
  </div>

{% endblock %}
