{% set section = 'work' %}

{% extends "layout.html" %}
{% import '_globals.html' as globals %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div id="case-id" style="float:left;width: 700px;">
        <h1 class="govuk-heading-xl" style="margin: -0.76em 0 0.5em 0;">
          Preview letter
          <!--<span class="govuk-caption-xl">Manual entry if scanning or digital not available</span>-->
        </h1>

       
        
      </div>
      
     

      <div id="next-stepper" style="float:right;">
       
         

          <!--<div class="govuk-form-group">
            <label class="govuk-label" for="sort" style="float:left">
              <span style="position:relative;top:7px;margin-right: 12px;">Next step
            </label>

            <div style="float:left">
              <select class="govuk-select" id="sort" name="sort">
                <option value="choose" selected>Select action</option>
                <option value="updated">Confirm payment</option>
                <option value="views">Review details</option>
                <option value="comments">Match duplicate</option>
              </select>
            </div>
            
            <div style="float:left;margin-left:6px">
              <button class="govuk-button">Go</button>
            </div>

          </div>-->

          <br clear="all">

 
        
      </div>

      <br clear="all">

      <style>
        #fake-letter-header {
          background-image: url('/public/images/letter-header.png');
          background-repeat: no-repeat;
          background-size: 800px;
          height: 310px;
        }
        #letter-addressed {
          font-size: 0.5em;
          position: relative;
          left: 90px;
          top: 210px;
          font-family: sans-serif !important;

          p {
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            font-size: 13px;
            line-height: 1;
          }

        }

      .previewtopbar {
        display: inline-block;padding-left:1.3em;
        text-decoration-line: underline;
        text-decoration-color: #1d70b8;
        text-underline-offset: 14px;
        text-decoration-thickness: 8px;
      }
      #email-preview {
        border:8px solid #ddd;
        border-radius: 10px;
        width: 800px;
        margin-bottom:1em
      }
      #message-body {
        padding: 10px 20px 10px 88px;
       

        p {
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            font-size: 14px;
            line-height: 1.2;
          }
        h3 {
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            font-size: 19px;
            font-weight: 600;
            line-height: 1.2;
          }
      }
      </style>

      
      <div id="email-preview" >
        <div id="fake-letter-header" >
          <div id="letter-addressed">
            <p>17 Wagstaff Way<br>
              Luton<br>
              Bedfordshire<br>
              LL8 4RA</p>
          </div>
        </div>

        <div id="message-body">

          <!-- check there is some items selected to test/fill content for -->
          
          <div>

            

            <p>09 June 2026</p>

            <p>Dear {{ globals.case_landlordname }}</p>

            <h3>RE: Housing Act 1988 - Section 13</h3>

            <p>An application for a market rent determination has been received for your property {{ globals.case_property}}, following a rent increase notice.</p>
            <p>You or your representative have 28 days to respond with any information they wish to provide.</p>
            <p>Follow the instructions at hmcts.gov.uk/landlord-mr2 to complete the MR2 online, or request a paper form from us.</p>
            <p>Yours sincerely,<p>
            <p>{{ globals.case_officer }}
            <br>on behalf of the First-tier Tribunal (Property Chamber)</p>

            </div>




        </div><!-- close message-body -->
        </div>
      </div>



        <div class="govuk-button-group">
          
          {{ govukButton({
            text: "Back to summary",
            classes: "govuk-button--secondary",
            href: "case-resonse-01-summary"
          }) }}

          <!--{{ govukButton({
            text: "Send now",
            href: "case-issue-confirm"
          }) }}-->
        </div>
      </form>




         

    </div>
  </div>

{% endblock %}
