{% set section = 'cases' %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div id="case-id" style="float:left;">
        <h1 class="govuk-heading-xl">
          Case 1234 5678 9256 1345 
          <span class="govuk-caption-xl">15 Garden Drive, Luton, Bedfordshire LU1 1AB</span>
        </h1>
      </div>
      


      <div id="next-stepper" style="float:right;">
       
         

          <div class="govuk-form-group">
            <label class="govuk-label" for="sort" style="float:left">
              <span style="position:relative;top:7px;margin-right: 12px;">Next step
            </label>

            <div style="float:left">
              <select class="govuk-select" id="sort" name="sort">
                <option value="choose" selected>Select action</option>
                <option value="updated">Confirm payment</option>
                <option value="views">Review details</option>
                <option value="comments">Match duplicate</option>
              </select>
            </div>
            
            <div style="float:left;margin-left:6px">
              <button class="govuk-button">Go</button>
            </div>

          </div>

          <br clear="all">

 
        
      </div>

      <br clear="all">

      
      {% include "includes/exui-tabs.html" %}
         

    </div>
  </div>

{% endblock %}
