{% set section = 'work' %}

{% extends "layout.html" %}
{% import '_globals.html' as globals %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div id="case-id" style="float:left;width: 700px;">
        <h1 class="govuk-heading-xl" style="margin: -0.76em 0 0.5em 0;">
          Edit tenant message
          <!--<span class="govuk-caption-xl">Manual entry if scanning or digital not available</span>-->
        </h1>


          <!--<h2 class="govuk-heading-m" style="margin-bottom: 0.25em;">Summary:</h2>

          <p>No issues</p>-->
      
      </div>
      
     

      <div id="next-stepper" style="float:right;">
       
         

         

      <br clear="all">

 
        
      </div>

      <br clear="all">

      <style>
      .previewtopbar {
        display: inline-block;padding-left:1.3em;
        
        
      }
      #email-preview {
        border:8px solid #ddd;
        border-radius: 10px;
        width: 800px;
        margin-bottom:1em
      }
      #message-body {
        padding-left: 30px;
        padding-right: 20px;
      }
      #govlogo {
        scale: 0.88;
        position: relative;
        left:-20px;
      }
      </style>

      
      <div id="email-edit" style="max-width:660px">

{% set defaultMessage %}
Dear {{ globals.case_tenantname }},
RE: Housing Act 1988 - Section 13
Your landlord or their representative has been notified and they have 28 days to respond with any information they wish to provide.

You will receive further notification of actions to take after that time.

Yours sincerely,
{{ globals.case_officer }}
on behalf of the First-tier Tribunal (Property Chamber)
{% endset -%}

         

<div class="govuk-form-group">
  <!--<h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Edit this message
    </label>
  </h1>-->
  <div id="more-detail-hint" class="govuk-hint">
    Make changes to this standard tenant application acknowledgment only if neccessary. No formatting is possible.
  </div>
  <!--<p id="more-detail-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Enter more detail
  </p>-->
  <textarea class="govuk-textarea " id="more-detail" name="moreDetail" rows="12" aria-describedby="more-detail-hint ">
    {{ defaultMessage }}
  </textarea>
</div>
          
            
        

      </div>



        <div class="govuk-button-group">
          
          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary",
            href: "case-resonse-01-summary"
          }) }}

          {{ govukButton({
            text: "Save changes",
            href: "case-resonse-01-summary"
          }) }}
        </div>
      </form>




         

    </div>
  </div>

{% endblock %}
