{% set section = 'create' %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div id="case-id" style="float:left;width: 890px;">
        <h2 class="govuk-heading-m" style="margin-bottom:0.5em">Vetting: 1234 5678 9256 1345
          <span class="govuk-caption-m" style="margin-top:0.2em">15 Garden Drive, Luton, Bedfordshire LU1 1AB</span>
        </h2>

        <h1 class="govuk-heading-xl" style="margin-bottom:0.75em">
          Request something from the applicant
          <!--<span class="govuk-caption-xl" style="margin-top:0.2em"></span>-->
        </h1>

         <!--<p style="margin:-1.5em 0 1em 0">Assumptions on this are: we are concerned with fixing paper form issues, missing info isn't automatically requested</p>-->
      </div>
      


      <div id="next-stepper" style="float:right;">
       
         

          <!--<div class="govuk-form-group">
            <label class="govuk-label" for="sort" style="float:left">
              <span style="position:relative;top:7px;margin-right: 12px;">Next steps
            </label>

            <div style="float:left">
              <select class="govuk-select" id="sort" name="sort">
                <option value="choose" selected>Select action</option>
                <option value="updated">Confirm payment</option>
                <option value="request">Issue request</option>
                <option value="views">Review details</option>
                <option value="comments">Match duplicate</option>
              </select>
            </div>
            
            <div style="float:left;margin-left:6px">
              <a href="case-issue-request"><button class="govuk-button">Go</button></a>
            </div>

          </div>-->

          <br clear="all">

 
        
      </div>

      <br clear="all">


    {% from "govuk/components/input/macro.njk" import govukInput %}

    <form class="form" action="" method="post" style="max-width: 880px;">
        
       

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

          {{ govukCheckboxes({
            name: "request",
            fieldset: {
              legend: {
                text: "What are you requesting from the applicant?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "section13",
                text: "Section 13 notice not provided"
              },
              {
                value: "tenancy",
                text: "Tenancy agreement not provided"
              },
              {
                value: "respond-address",
                text: "Landlord or landlord's representative address not provided"
              },
              {
                value: "signature",
                text: "Paper form not signed by sole tenant"
              },
              {
                value: "signatures",
                text: "Paper form not signed by joint tenants"
              },
              {
                value: "illegible",
                text: "Paper form has illegible sections"
              },
              {
                value: "missing",
                text: "Paper form has missing questions"
              },
              {
                value: "other",
                text: "Something else"
              }
            ]
          }) }}

        
        
        <div class="govuk-button-group">
          
          {{ govukButton({
            text: "Return to case",
            classes: "govuk-button--secondary",
            href: ""
          }) }}

          {{ govukButton({
            text: "Continue to message",
            href: "case-issue-content-03"
          }) }}
        </div>
      </form>




         

    </div>
  </div>

{% endblock %}
