{% set section = 'work' %}

{% extends "layout.html" %}
{% import '_globals.html' as globals %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div id="case-id" style="float:left;width: 890px;">
        <h2 class="govuk-heading-m" style="margin-bottom:0.5em">Case {{ globals.case_number }}
          <span class="govuk-caption-m" style="margin-top:0.2em">{{ globals.case_property }}</span>
        </h2>

        

         <!--<p style="margin:-1.5em 0 1em 0">Assumptions on this are: we are concerned with fixing paper form issues, missing info isn't automatically requested</p>-->
      </div>
      


      <div id="next-stepper" style="float:right;">
       
         

          <!--<div class="govuk-form-group">
            <label class="govuk-label" for="sort" style="float:left">
              <span style="position:relative;top:7px;margin-right: 12px;">Available actions
            </label>

            <div style="float:left">
              <select class="govuk-select" id="sort" name="sort">
                <option value="choose" selected>Select action</option>
                <option value="updated">Confirm payment</option>
                <option value="request">Issue request</option>
                <option value="views">Review details</option>
                <option value="comments">Match duplicate</option>
              </select>
            </div>
            
            <div style="float:left;margin-left:6px">
              <a href="case-issue-request"><button class="govuk-button">Go</button></a>
            </div>

          </div>-->

          <br clear="all">

 
        
      </div>

      <br clear="all">


    
      <!-- this is reused from the case-dashboard way of presenting it  -->
      <!-- as hopefully a simple pivot to make this an Event/Task thing -->
      <section>
        <h2 class="govuk-heading-xl">Check for duplicates</h2>
        <!-- give it the same TASK NAME as on the TASK LIST + WORK LIST -->

         {% include "includes/case-summary-00.njk" %}


        

      </section>





         

    </div>
    <br>

      <div class="govuk-button-group">
          {{ govukButton({
            text: "Return to case",
            classes: "govuk-button--secondary",
            href: ""
          }) }}

       

          {{ govukButton({
            text: "Continue",
            href: "check-dupes-01.html"
          }) }}
        </div>
   
  </div>

{% endblock %}
