{% set section = 'work' %}

{% extends "layout.html" %}
{% import '_globals.html' as globals %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div id="case-id" style="float:left;">
        <h1 class="govuk-heading-xl">
          Case {{ globals.case_number }}
          <span class="govuk-caption-xl">{{ globals.case_property }}</span>
        </h1>
      </div>
      


      <div id="next-stepper" style="float:right;">
       
         

          <div class="govuk-form-group">
            <label class="govuk-label" for="sort" style="float:left">
              <span style="position:relative;top:7px;margin-right: 12px;">Available actions
            </label>

            <div style="float:left">
              <select class="govuk-select" id="sort" name="sort">
                <option value="choose" selected>Select action</option>
                <option value="updated">Confirm payment</option>
                <option value="request">Issue request</option>
                <option value="views">Review details</option>
                <option value="comments">Match duplicate</option>
              </select>
            </div>
            
            <div style="float:left;margin-left:6px">
              <a href="case-issue-request"><button class="govuk-button">Go</button></a>
            </div>

          </div>

          <br clear="all">

 
        
      </div>

      <br clear="all">


      <div class="govuk-tabs" data-module="govuk-tabs" style="width:1340px;overflow: visible;">
          <!--<h2 class="govuk-tabs__title">
            Contents -- is this just for screen readers?
          </h2>-->
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item ">
              <a class="govuk-tabs__tab" href="#">
                Tasks
              </a>
            </li>

            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#">
                Roles & access<!-- -  sure what it means for us -->
              </a>
            </li>

            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#">
                Parties
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#">
                Case details
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#">
                File view
              </a>
            </li>
            <!--<li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#Flags">
                Case flags - omitted as I have no idea what this is
              </a>
            </li>-->
             <li class="govuk-tabs__list-item ">
              <a class="govuk-tabs__tab" href="case-dashboard-01">
                Summary
              </a>
            </li>

            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#">
                Hearings
              </a>
            </li>
            <!--<li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#Linked">
                Linked cases - potentially put in for duplicates or near-dupes
              </a>
            </li>-->
            <li class="govuk-tabs__list-item ">
              <a class="govuk-tabs__tab" href="case-history-01">
                History
              </a>
            </li>
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#">
                Notes
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#">
                Notifications
              </a>
            </li>
            <!-- Additional tabs according to the Spec ... 
            - -- see https://tools.hmcts.net/confluence/spaces/CCE1D/pages/1482327709/Common+Case+Details+View
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#Service">
                Service request - omitted as no idea what it would do here
              </a>
            </li>-->
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="case-payment-01">
                Payments
              </a>
            </li>
            <!-- not sure what this would do here
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#Queries">
                Queries
              </a>
            </li>-->
          </ul>
          <!-- end tabs -->



          <div class="govuk-tabs__panel exui-tabpanel" id="Notes">
            <section>
              

               {% include "includes/case-notes-01.njk" %}

            </section>
          </div><!-- end tab-panel for content -->

        </div><!-- end GOV TABS -->
  

    </div><!-- end grid col full -->
  </div><!-- end grid row -->

{% endblock %}
