{% set section = 'work' %}

{% extends "layout.html" %}
{% import '_globals.html' as globals %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div id="case-id" style="float:left;width: 890px;">
        <h2 class="govuk-heading-m" style="margin-bottom:0.5em">Case {{ globals.case_number3 }}
          <span class="govuk-caption-m" style="margin-top:0.2em">{{ globals.case_property3 }}</span>
        </h2>

        <h1 class="govuk-heading-xl" style="margin-bottom:0.75em">
          Preview drafts
          <!--<span class="govuk-caption-l" style="margin-top:0.2em">Standard acknowledgments, 2 items</span>-->
        </h1>

         <!--<p style="margin:-1.5em 0 1em 0">Assumptions on this are: we are concerned with fixing paper form issues, missing info isn't automatically requested</p>-->
      </div>
      


      <div id="next-stepper" style="float:right;">
       
         

          <!--<div class="govuk-form-group">
            <label class="govuk-label" for="sort" style="float:left">
              <span style="position:relative;top:7px;margin-right: 12px;">Available actions
            </label>

            <div style="float:left">
              <select class="govuk-select" id="sort" name="sort">
                <option value="choose" selected>Select action</option>
                <option value="updated">Confirm payment</option>
                <option value="request">Issue request</option>
                <option value="views">Review details</option>
                <option value="comments">Match duplicate</option>
              </select>
            </div>
            
            <div style="float:left;margin-left:6px">
              <a href="case-issue-request"><button class="govuk-button">Go</button></a>
            </div>

          </div>-->

          <br clear="all">

 
        
      </div>

      <br clear="all">

<div style="width: 88%">
  

  <!--<p style="font-size: 0.9em;"><i>Note: cribbed from p11 UR report "What are COs looking for when skimming
documents?" ...makes sense but naming of items may need checking. I like this as it gets to the point of collecting the docs in the first place, and can pick out missing info directly.</i></p>-->

<p>Summary of messages:</p>

  <ul class="govuk-list govuk-list--bullet">

      <li><strong>Application status:</strong> Received out of time, so case closed</li>
      <li><strong>Letters:</strong> Late application</li>
      <li><strong>Tenant:</strong> Sending by email</li>
      <li><strong>Landlord:</strong> No message required</li>


  </ul>

  <br>

  <form class="form" action="" method="post" >
      {% set tenantEmailSum %}
        <p><strong>Post:</strong><br> Not requested</p>
        <p><strong>Email:</strong><br> {{ globals.case_tenantemail3 }}</p>
    
      {% endset -%}

      {% set previewTenantMessage %}
        <p class="govuk-hint">Standard header</p>
        <p>Dear {{ globals.case_tenantname3 }},</p>
        <p>We received your MR1 application form to request a market rent determination for the address above on <strong>{{ globals.case_MR1receiveddate3 }}</strong>.</p>
        <p>Your application appears to have been made after the deadline. We are writing to let you know that we may not be able to consider it.</p>
        <h3>Why your application may be late</h3>

        <p>You must apply to the Tribunal before the start date of the proposed new rent. This is set out in the Form 4A (Landlord’s notice proposing a new rent) that you received from your landlord.

        <p><strong>The Tribunal cannot extend this deadline.</strong><p>

        <p>Based on the date <strong>{{ globals.case_newrentstartdate3 }}</strong> in the Form 4A included with your application, it appears that your application was received after this deadline.

        <h3>What this means</h3>

        <p>The Tribunal is minded to strike out (cancel) your application. This is set out in Rule 9(2) of the Tribunal Procedure (First-Tier Tribunal) (Property Chamber) Rules 2013.</p>

        <p>If your application is struck out, it will not go ahead.</p>

        <p>If you think your application was made in time</p>

        <p>If you believe the application was made in time, you can write to the Tribunal to explain why. You must do this by <strong>{{ globals.case_deadlinetochallenge3 }}</strong> and send a copy to your landlord.</p>

        <p>A legal officer will review what is sent and decide whether the application should proceed.</p>


        <p><br>Yours sincerely,<p>
        <p>{{ globals.case_officer }}
        <br>Case Officer</p>
        <p class="govuk-hint">Standard footer</p>

      {% endset -%}


      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      <h3 class="govuk-heading-m">To Tenant</h3>

      {{ govukSummaryList({
        rows: [
          
          {
            key: {
              text: "Tenant name"
            },
            value: {
              text: globals.case_tenantname
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Send to"
            },
            value: {
              html: tenantEmailSum
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Message text"
            },
            value: {
              html: previewTenantMessage
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change"
                },
                {
                  href: "case-response-03-preview-tenant-email.html",
                  text: "Preview"
                }
              ]
            }
          }
        ]
      }) }}

 
       {% set landlordPostSum %}
        <p><strong>Post:</strong><br>17 Wagstaff Way<br>
        Luton<br>
        Bedfordshire<br>
        LL8 4RA</p>
        <p><strong>Email:</strong> <br>Address not confirmed</p>
      {% endset -%}

      {% set previewLandlordMessage %}
        <p class="govuk-hint">Standard header</p>
        <p>Dear {{ globals.case_landlordname }},</p>
        
        <p>If we need anything else from you, we will contact you directly.</p>



        <p>Yours sincerely,<p>
        <p>{{ globals.case_officer }}
        <br>Case Officer</p>
        <p class="govuk-hint">Standard footer</p>

      {% endset -%}


      <h3 class="govuk-heading-m">To Landlord</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "Landlord name"
            },
            value: {
              text: globals.case_landlordname
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: ""
                }
              ]
            }
          },
          {
            key: {
              html: "Message text"
            },
            value: {
              html: "No message required"
            }
          }
        ]
      }) }}

      

    
        
        
        <div class="govuk-button-group">
          
          {{ govukButton({
            text: "Return to case",
            classes: "govuk-button--secondary",
            href: ""
          }) }}

          {{ govukButton({
            text: "Send",

            href: "case-sent-03"
          }) }}
        </div>
      </form>




         

    </div>
  </div>

{% endblock %}