{% set section = 'work' %}

{% extends "layout.html" %}
{% import '_globals.html' as globals %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div id="case-id" style="float:left;width: 890px;">
        <h2 class="govuk-heading-m" style="margin-bottom:0.5em">Case 1234 5678 9256 1345
          <span class="govuk-caption-m" style="margin-top:0.2em">15 Garden Drive, Luton, Bedfordshire LU1 1AB</span>
        </h2>

        <h1 class="govuk-heading-xl" style="margin-bottom:0.75em">
          Potential duplicates
          <!--<span class="govuk-caption-xl" style="margin-top:0.2em">Use postcode, and disambiguate matches</span>-->
        </h1>

         <!--<p style="margin:-1.5em 0 1em 0">Assumptions on this are: we are concerned with fixing paper form issues, missing info isn't automatically requested</p>-->
      </div>
      


      <div id="next-stepper" style="float:right;">
       
         

          <!--<div class="govuk-form-group">
            <label class="govuk-label" for="sort" style="float:left">
              <span style="position:relative;top:7px;margin-right: 12px;">Next steps
            </label>

            <div style="float:left">
              <select class="govuk-select" id="sort" name="sort">
                <option value="choose" selected>Select action</option>
                <option value="updated">Confirm payment</option>
                <option value="request">Issue request</option>
                <option value="views">Review details</option>
                <option value="comments">Match duplicate</option>
              </select>
            </div>
            
            <div style="float:left;margin-left:6px">
              <a href="case-issue-request"><button class="govuk-button">Go</button></a>
            </div>

          </div>-->

          <br clear="all">

 
        
      </div>

      <br clear="all">

      {% set match01 %}
        Property: 19 Garden Drive,<br>Luton,<br>Bedfordshire<br>LU1 1AB
        Case number:   <a href=#>2341 2315 3423 6950</a>
        Date received:   2 March 2026, 1:13pm
        Tenant name:     Hugh Davis
        Tenant email:    huge.davis@hotmail.com
        Current status:  Waiting for MR3<br>Due by 9 June 2026
         

      {% endset -%}

  



    {% from "govuk/components/input/macro.njk" import govukInput %}

    <form class="form" action="" method="post" style="">


        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      <!--<h3 class="govuk-heading-m">MR1 application</h3>-->

      <p>
        <span class="govuk-table__caption--s" style="font-weight: normal;"><strong>No matches</strong>  for landlord email <strong>{{ globals.case_landlordemail }}</strong></span>
      </p>
      <p>
        <span class="govuk-table__caption--s" style="font-weight: normal;"><strong>No matches</strong>  for postcode <strong>LU1 1AB</strong></span>
      </p>

      <br>

        
        
        <div class="govuk-button-group">
          
          {{ govukButton({
            text: "Return to case",
            classes: "govuk-button--secondary",
            href: "check-dupes-01-results"
          }) }}

          {{ govukButton({
            text: "Continue to acknowledgements"
          }) }}
        </div>
      </form>




         

    </div>
  </div>

{% endblock %}
