{% set section = 'cases' %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Prototyping for user research:
        <span class="govuk-caption-xl" style="margin-top:0.2em">Market Rent Determination, initial application vetting</span>
        
      </h1>{{releaseVersion | log }}
      <p>
        <a href=work-list-00>Work list</a>
      </p>


     

      <br>
      <h3 class="govuk-heading-m"> Direct links to things</h3>
              
             

            

        <ol class="govuk-list govuk-list--number">


          <!--<li>
            Check for duplicates TASK from Worklist or Tasks Tab
            <ul class="govuk-list">
              <li><a href="work-list-00">My Work (my tasks)</a></li>

              <li><a href="case-tasks-00">Tasks</a></li>

              <li><a href="case-review-00">Check for duplicates - summary</a></li>

              <li><a href="check-dupes-01">Check for duplicate - search types</a></li>

              <li><a href="check-dupes-01-results">Results</a></li>

              <li><a href="check-dupes-refer-01">Refer duplicates to LO</a></li>

              <li><a href="case-sent-01R">Done</a></li>
            </ul>
          </li>-->
         

          <li>
            Check for duplicates TASK from Worklist or Tasks Tab
            <ul class="govuk-list">
              <li><a href="work-list-00">My Work (my tasks)</a></li>

              <li><a href="case-tasks-00">Tasks</a></li>

              <li><a href="case-review-00">Check for duplicates - summary</a></li>

              <li><a href="check-dupes-01">Check for duplicate - search types</a></li>

              <li><a href="check-dupes-01-results">Results</a></li>

              <li><a href="check-dupes-refer-01">Refer duplicates to LO</a></li>

              <li><a href="case-sent-01R">Done</a></li>
            </ul>
          </li>

          <li>
            Happy path, no missig items
            <ul class="govuk-list">
              <li><a href="work-list-00">My Work (my tasks)</a></li>

              <li><a href="case-tasks-01">Tasks</a></li>

              <li><a href="case-review-01">Review case</a></li>

              <li><a href="review-case-01">Action picker</a></li>

              <li><a href="case-review-01-ack-request">Send acknowledgements to both Tenant and Landlord</a></li>

              <li><a href="case-review-01-summary">Preview content</a></li>

              <li><a href="case-sent-01">Sent</a></li>
            </ul>
          </li>

          <li>
            Deal with missing info, missing payment
            <ul class="govuk-list">
              <li><a href="work-list-00">My Work (my tasks)</a></li>

              <li><a href="case-tasks-02">Tasks</a></li>

              <li><a href="case-review-02">Review case</a></li>

              <li><a href="review-case-02">Action picker</a></li>

              <li><a href="case-review-02-all">Request things</a></li>

              <li><a href="case-review-02-summary">Preview request letters/emails</a></li>

              <li><a href="case-sent-02">Sent</li>
            </ul>
          </li>

          

        </ol>
      </p>

    

      

    </div>
  </div>

{% endblock %}
