{% set section = 'work' %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Work list
        <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
      </h1>{{releaseVersion | log }}
      
      {% include "includes/caselist-filter.html" %}

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          All cases
          <br>
          <span class="govuk-table__caption--s" style="font-weight: normal;">Showing 1 to 25 of 4003 results</span>
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Case number</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Date of receipt</th>
            <th scope="col" class="govuk-table__header">Sent via</th>
            <th scope="col" class="govuk-table__header">Fee paid</th>
            <th scope="col" class="govuk-table__header">Scans</th>
            <th scope="col" class="govuk-table__header">Prechecks</th>
            <th scope="col" class="govuk-table__header">Next</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><a href="case-dashboard.html">5678 9123 4567 1241</a></th>
            <td class="govuk-table__cell">New to review<br>14 days remaining</td>
            <td class="govuk-table__cell">28/05/2026</td>
            <td class="govuk-table__cell">Digital</td>
            <td class="govuk-table__cell"><a href=#>29/05/2026</a></td>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell">Passed</td>
            <td class="govuk-table__cell">Waiting CO</td>
            <td class="govuk-table__cell"><a href="work-list-02">Assign to me</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><a href="case-dashboard.html">4567 5678 9123 1234</a></th>
            <td class="govuk-table__cell">New to review<br>14 days remaining</td>
            <td class="govuk-table__cell">28/04/2026</td>
            <td class="govuk-table__cell">Digital</td>
            <td class="govuk-table__cell"><a href=#>28/05/2026</a></td>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell">Passed</td>
            <td class="govuk-table__cell">Waiting CO</td>
            <td class="govuk-table__cell"><a href="work-list-assign">Assign to me</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><a href="case-dashboard.html">9123 4567 1234 5678</a></th>
            <td class="govuk-table__cell">Waiting for LO<br>MR1 duplicate</td>
            <td class="govuk-table__cell">17/04/2026</td>
            <td class="govuk-table__cell">Post</td>
            <td class="govuk-table__cell"><a href=#>17/04/2026</a></td>
            <td class="govuk-table__cell"><a href=#>View</a></td>
            <td class="govuk-table__cell">Passed</td>
            <td class="govuk-table__cell">Waiting LO</td>
            <td class="govuk-table__cell"><span class="govuk-hint">in LO work list<br>D Owens</span></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><a href="case-dashboard.html">4567 1234 5678 9123</a></th>
            <td class="govuk-table__cell">With LO<br>active query</td>
            <td class="govuk-table__cell">27/04/2026</td>
            <td class="govuk-table__cell">Email</td>
            <td class="govuk-table__cell">N<br><a href=#>Send reminder</a></td>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell">Passed</td>
            <td class="govuk-table__cell">Waiting LO</td>
            <td class="govuk-table__cell"><span class="govuk-hint">in LO work list<br>F Smith</span></td>
          </tr>
        </tbody>
      </table>
         

    </div>
  </div>

{% endblock %}
