{% set section = 'work' %}

{% extends "layout.html" %}
{% import '_globals.html' as globals %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
  .managelist ul {
    margin-bottom:0;
    li {
      display: inline-block;
    }
  }
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Work list
        <span class="govuk-caption-l">{{ globals.case_officer }}</span>
      </h1>{{releaseVersion | log }}
      
      <!--{% include "includes/caselist-filter.html" %}-->


      <nav _ngcontent-ng-c1727731223="" role="navigation" class="hmcts-sub-navigation ng-star-inserted" aria-label="Sub navigation" style="margin-bottom:1.5em">
        <ul _ngcontent-ng-c1727731223="" class="hmcts-sub-navigation__list">

          <li _ngcontent-ng-c1727731223="" class="hmcts-sub-navigation__item ng-star-inserted">
            <a _ngcontent-ng-c1727731223="" data-selector="sub-nav-link" class="hmcts-sub-navigation__link" aria-current="page" href="/work/my-work/list"> My tasks <!----></a>
          </li>

          <li _ngcontent-ng-c1727731223="" class="hmcts-sub-navigation__item ng-star-inserted">
            <a _ngcontent-ng-c1727731223="" data-selector="sub-nav-link" class="hmcts-sub-navigation__link" href="/work/my-work/available"> Available tasks <!----></a>
          </li>

          <li _ngcontent-ng-c1727731223="" class="hmcts-sub-navigation__item ng-star-inserted">
            <a _ngcontent-ng-c1727731223="" data-selector="sub-nav-link" class="hmcts-sub-navigation__link" href="/work/my-work/my-cases"> My cases <!----></a>
          </li>

          <!-- removed this for now as not relevant, not sure what it is, for these users
          <li _ngcontent-ng-c1727731223="" class="hmcts-sub-navigation__item ng-star-inserted">
            <a _ngcontent-ng-c1727731223="" data-selector="sub-nav-link" class="hmcts-sub-navigation__link" href="/work/my-work/my-access"> My access </a>
          </li> -->

        </ul>
      </nav>

<!-- NOTE the links to TASKs 5th col MUST go to the TASKS TAB on a case and not directly to the first step in the TASK flow -->

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          My tasks
          <br>
          <span class="govuk-table__caption--s" style="font-weight: normal;">Showing 1 to 25 of 45 tasks</span>
        </caption>

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header table-head-arrows">Case number</th>
            <th scope="col" class="govuk-table__header table-head-arrows">Property</th>
            <th scope="col" class="govuk-table__header table-head-arrows">Date received</th>

            <th scope="col" class="govuk-table__header table-head-arrows">Status</th>

            <!--<th scope="col" class="govuk-table__header table-head-arrows">Fee paid</th>-->
            
            <th scope="col" class="govuk-table__header table-head-arrows">Task</th>
            <th scope="col" class="govuk-table__header table-head-arrows" style="width: 120px;text-align: right;">+</th>
          </tr>
        </thead>


        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><a href="case-dashboard-00.html" style="white-space: nowrap;">{{ globals.case_number4 }}</a></td>
            <td class="govuk-table__cell">{{ globals.case_property4 }}</td>
            <td class="govuk-table__cell">28 May 2026</td>

            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">New to review</strong><br>14 days remaining</td>
            <!--<td class="govuk-table__cell"><a href="receipt-1241">29 May 2026</a></td>-->

            <td class="govuk-table__cell"><a href="case-tasks-00">Review case</a></td>

            <td class="govuk-table__cell">
              <a onclick="showhideA()">Manage</a> <span style="font-weight:900;">+</span>
          </td>
          </tr>

          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><a href="case-dashboard-01.html" style="white-space: nowrap;">{{ globals.case_number }}</a></td>
            <td class="govuk-table__cell">{{ globals.case_property }}</td>
            <td class="govuk-table__cell">28 May 2026</td>

            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">New to review</strong><br>14 days remaining</td>
            <!--<td class="govuk-table__cell"><a href="receipt-1241">29 May 2026</a></td>-->

            <td class="govuk-table__cell"><a href="case-tasks-01">Review case</a></td>

            <td class="govuk-table__cell">
              <a onclick="showhideA()">Manage</a> <span style="font-weight:900;">+</span>
          </td>
          </tr>


          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><a href="case-dashboard-02.html" style="white-space: nowrap;">{{ globals.case_number2 }}</a></td>
            <td class="govuk-table__cell">{{ globals.case_property2 }}</td>
            <td class="govuk-table__cell">28 April 2026</td>

            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">New to review</strong><br>14 days remaining</td>
            <!--<td class="govuk-table__cell"><a href=#>28 May 2026</a></td>-->

            <td class="govuk-table__cell"><a href="case-tasks-02">Review case</a></td>

            <td class="govuk-table__cell">
              <a onclick="showhideA()">Manage</a> <span style="font-weight:900;">+</span>
          </td>
          </tr>


          <!--<tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><a href="case-dashboard-02.html" style="white-space: nowrap;">{{ globals.case_number2 }}</a></td>
            <td class="govuk-table__cell">{{ globals.case_property2 }}</td>
            <td class="govuk-table__cell">17 April 2026</td>

            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Help with fees</strong><br>No remission from HWF</td>
           

            <td class="govuk-table__cell"><a href="review-fees-00">Review fees</a></td>

            <td class="govuk-table__cell">
              <a onclick="showhideA()">Manage</a> <span style="font-weight:900;">+</span>
            </td>
          </tr>-->

          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><a href="case-dashboard-03.html" style="white-space: nowrap;">{{ globals.case_number3 }}</a></td>
            <td class="govuk-table__cell">{{ globals.case_property3 }}</td>
            <td class="govuk-table__cell">17 April 2026</td>

            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Late application</strong><br><!--Refer to LO--></td>
            <!--<td class="govuk-table__cell"><a href=#>17 April 2026</a></td>-->

            <td class="govuk-table__cell"><a href="case-tasks-03">Review case</a></td>

            <td class="govuk-table__cell">
              <a onclick="showhideA()">Manage</a> <span style="font-weight:900;">+</span>
          </td>
          </tr>


          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><a href="#" style="white-space: nowrap;">{{ globals.case_number4 }}</a></td>
            <td class="govuk-table__cell">{{ globals.case_property4 }}</td>

            <td class="govuk-table__cell">27 April 2026</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">No fee paid</strong><br>Out of time</td>
            
            <!--<td class="govuk-table__cell">No<br><a href=#>Send reminder</a></td>-->

            <td class="govuk-table__cell"><a href="#">Withdraw case</a></td>

            <td class="govuk-table__cell">
              
              
              <a onclick="showhideA()">Manage</a> <span style="font-weight:900;">+</span>
              
              
              
            
          </td>
          <tr>
            <td colspan="6" style="text-align:right">
              <ul class="govuk-list managelist" style="display: none;" id="manageA">
                <li  class="hmcts-sub-navigation__item"><a href="#">Cancel task</a></li>
                <li class="hmcts-sub-navigation__item"><a href="#">Mark as done</a></li>
                <li class="hmcts-sub-navigation__item"><a href="#">Go to task</a></li>
                <li class="hmcts-sub-navigation__item"><a href="#">Unassign task</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <script>
        function showhideA() {
          var x = document.getElementById("manageA");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }

        function showhideB() {
          var x = document.getElementById("filemr1");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
        </script>

         

    </div>
  </div>

{% endblock %}
